<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>edu.cibertec.cine.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PeliculaServlet</servlet-name>
        <servlet-class>edu.cibertec.cine.servlet.PeliculaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>edu.cibertec.cine.servlet.DetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PeliculaFDServlet</servlet-name>
        <servlet-class>edu.cibertec.cine.servlet.PeliculaFDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CineServlet</servlet-name>
        <servlet-class>edu.cibertec.cine.servlet.CineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionServlet</servlet-name>
        <servlet-class>edu.cibertec.cine.servlet.FuncionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalaServlet</servlet-name>
        <servlet-class>edu.cibertec.cine.servlet.SalaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PeliculaAjaxServlet</servlet-name>
        <servlet-class>edu.cibertec.cine.servlet.PeliculaAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CineAjaxServlet</servlet-name>
        <servlet-class>edu.cibertec.cine.servlet.CineAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionAjaxServlet</servlet-name>
        <servlet-class>edu.cibertec.cine.servlet.FuncionAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompraServlet</servlet-name>
        <servlet-class>edu.cibertec.cine.servlet.CompraServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PeliculaServlet</servlet-name>
        <url-pattern>/PeliculaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/DetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PeliculaFDServlet</servlet-name>
        <url-pattern>/PeliculaFDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CineServlet</servlet-name>
        <url-pattern>/CineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionServlet</servlet-name>
        <url-pattern>/FuncionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalaServlet</servlet-name>
        <url-pattern>/SalaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PeliculaAjaxServlet</servlet-name>
        <url-pattern>/PeliculaAjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CineAjaxServlet</servlet-name>
        <url-pattern>/CineAjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionAjaxServlet</servlet-name>
        <url-pattern>/FuncionAjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraServlet</servlet-name>
        <url-pattern>/CompraServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
